node_modules/
build/
temp/
debug.log
error.log
.DS_Store
MERN/backend/functions/logging/debug1698828973574.log
MERN/backend/functions/logging/debug1698829842961.log
MERN/backend/functions/logging/debug1698830204806.log
MERN/backend/functions/logging/debug1698830823157.log
MERN/backend/functions/logging/debug1698830878465.log
MERN/backend/functions/logging/debug1698831771041.log
MERN/backend/functions/logging/debug1698831925184.log
MERN/backend/functions/logging/debug1698832067828.log
MERN/backend/functions/logging/debug1698832134881.log
MERN/backend/functions/logging/debug1698832239631.log
MERN/backend/functions/logging/debug1698832379524.log
MERN/backend/functions/logging/debug1698832562632.log
MERN/backend/functions/logging/debug1698832740647.log
MERN/backend/functions/logging/debug1698832802897.log
MERN/backend/functions/logging/debug1698832909710.log
MERN/backend/functions/logging/debug1698833192285.log
MERN/backend/functions/logging/debug1698833576244.log
MERN/backend/functions/logging/debug1698833726996.log
MERN/backend/functions/logging/debug1698833826981.log
MERN/backend/functions/logging/debug1698834038952.log
MERN/backend/functions/logging/debug1698834110196.log
MERN/backend/functions/logging/debug1698834195102.log
MERN/backend/functions/logging/debug1698834675993.log
