
.about-layout{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.about-us-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 60%;
    /*margin-left: 30%;*/
    margin-top: 5%;
}
.about-us-body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    
}
#about-us-header{
    font-family: bold;
    font-size: 5rem;
}
.about-devs-container{
    position: relative;
    justify-content: center;
}
.meet-our-team-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.team-header-container{
    border-radius: 20px;
    padding: 10px;

}
#meet-our-team-header{
    font-family: bold;
    font-size: 5rem;
}
.team-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dev-container{
    margin-top: 50px;
    margin-bottom: 50px;
    width:30%;
}
.dev-image-container{
    border-radius: 20px;
    height: 400px;
    width: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}
.team-pic{
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.dev-details-container{
    border-radius: 20px;
    padding: 10px;
}
.dev-name{
    font-weight: bold;
    font-size: 2rem;
}
.dev-role{
    font-size: 1.5rem;
}
.button-container{
    display: flex;
    width:100%;
}
.button-container button {
    flex:1;
    padding: 20px 30px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover{
    background-color: #333;
    color:white;
}
.button-container button.selected{
    background-color: goldenrod;
    color:white;
}