/* CustomCalendar.css */
.calendar-page-container{
  width: 100%;
  height: 90vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.calendar-container{
  position: relative;
  z-index: 1;
}

.popup-form{
  z-index: 2;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.popup-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.form-btn{
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
}